 /* index.css */


 .bg {
   position: relative;
   /* Ensure the container is positioned relative */
 }

 .background-container {
   width: 100%;
   height: 100vh;
   background-size: cover;
   /*background-image: url("/Users/sultan/hadil/phase-4-bookify-books/client/src/images/Bookstorebackground.png");*/
   background-attachment: fixed;
   /* Ensure the background image remains fixed while scrolling */
   top: 0;
   left: 0;
   z-index: -1;
   /* Ensure the background image is behind other content */
   overflow: y;
 }


 body {
   margin: 0;
   padding: 0;
   font-family: Arial, sans-serif;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   /* Allow overflow content to be scrollable if needed */
   z-index: 0;
 }

 .header-container {
   width: 100%;
   /* Ensure the container spans the entire width */
   z-index: 1;
   /* Ensure the header is above the background */
   color: white;
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .title {
   text-shadow: 0 0 5px black;
   ;
 }

 .logo-container {
   display: flex;
   align-items: center;
 }

 .logo {
   margin-left: 10px;
 }

 .title {
   font-weight: bold;
   font-size: 60px;
   display: flex;
   justify-content: center;
   white-space: nowrap;
   margin-left: 10px;
 }

 .links-container {
   margin-top: 75px;
   display: flex;
   justify-content: center;
 }

 .navigation-bar {
   background-color: #e0c6a2;
   padding: 10px;
   width: -webkit-fill-available;
 }

 ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
   display: flex;
 }

 .nav-link {
   display: inline-block;
   padding: 10px;
   color: #008080;
   font-weight: bold;
   text-decoration: none;
   margin-right: 10px;
 }

 .nav-link:hover {
   background-color: #efb8a6;
   color: white;
   border-radius: 5px;
 }

 .nav-link:last-child {
   margin-right: 0;
 }

 .nav-link:not(.active-link) {
   text-decoration: underline;
 }

 .active-link {
   font-weight: bold;
 }

 /* Styling for the search box container */
 .search-box-container {
   display: flex;
   justify-content: center;
   padding-top: 20px;
   /* Adjust the margin-top as needed */
 }

 /* Styling for the input element */
 .search-input {
   width: 300px;
   /* Adjust the width as needed */
   padding: 10px;
   /* Adjust the padding as needed */
   font-size: 16px;
   /* Adjust the font size as needed */
 }

 /* Styling for the search button */
 .search-button {
   background-color: green;
   color: white;
   border: none;
   padding: 10px 20px;
   /* Adjust the padding as needed */
   margin-left: 10px;
   /* Adjust the margin-left as needed */
   font-size: 16px;
   /* Adjust the font size as needed */
   cursor: pointer;
 }

 /* Styling for the search button on hover */
 .search-button:hover {
   background-color: darkgreen;
 }

 .content-container {
   padding: 20px;
   /* Add padding to keep content away from edges */
   overflow-y: auto;
   /* Enable vertical scrolling for content */
   height: 100vh;
   /* Expand content container to fill viewport */
 }

 .books-container {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   align-items: center;
   justify-content: center;
   margin-bottom: 10%;
 }

 .book-item {
   /* Adjust the width as needed */
   margin: 10px;
   text-align: center;
 }

 .book-item h3 {
   margin-bottom: 5px;
 }

 .book-item p {
   margin-bottom: 10px;
 }

 .book-item img {
   max-width: 100%;
 }

 .login-container {
   position: relative;
   margin-top: -500px;
   text-align: center;
 }

 .login-form {
   max-width: 300px;
   margin: -40px auto;
   padding: 20px;
   position: relative;
 }

 .login-form label {
   display: block;
   font-size: 18px;
   margin-bottom: 5px;
 }

 .login-form input {
   width: calc(100% - 20px);
   padding: 10px;
   margin-bottom: 15px;
   border: 1px solid #ccc;
   border-radius: 5px;
   box-sizing: border-box;
 }

 .login-form button {
   width: 100%;
   padding: 10px;
   background-color: lightblue;
   color: #fff;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   font-size: 18px;
 }

 .login-form button:hover {
   background-color: #0099cc;
 }

 .ul-custom {
   display: flex;
   justify-content: space-around;
 }

 .mainContainer {
   display: flex;
   flex-direction: row;
   height: 100vh;
 }