index.css

.bg {
  position: relative; /* Ensure the container is positioned relative */
}

.background-image {
  position: absolute; /* Position the background image */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure the background image is behind other content */
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Allow overflow content to be scrollable if needed */
  z-index: 0;
} 

.header-container {
  position: absolute; /* Position the header container absolutely */
  top: 0; /* Align the top of the container with the top of the page */
  width: 100%; /* Ensure the container spans the entire width */
  z-index: 1; /* Ensure the header is above the background */
  color: white; 
  padding: 5px; 
  display: flex;
  flex-direction: column; 
  align-items: center; 
}


.logo-container {
  display: flex;
  align-items: center; 
}

.logo {
  margin-left: 10px; 
}

.title {
  font-weight: bold; 
  font-size: 72px;
  margin-right: 254px; 
  display: flex; 
  justify-content: center; 
  white-space: nowrap;
}

.links-container {
  margin-top: 75px; 
  display: flex;
  justify-content: center;
}

.navigation-bar {
  background-color: #e0c6a2; 
  padding: 10px; 
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; 
  display: flex; 
}

.nav-link {
  display: inline-block;
  padding: 10px 160px; 
  color: #008080; 
  font-weight: bold; 
  text-decoration: none;
  margin-right: 10px; 
}

.nav-link:hover {
  background-color: #efb8a6; 
  color: white; 
  border-radius: 5px;
}

.nav-link:last-child {
  margin-right: 0; 
}

.nav-link:not(.active-link) {
  text-decoration: underline; 
}

.active-link {
  font-weight: bold; 
}

/* Search box container */
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -500px; 
}

/* Search input */
.search-input {
  width: 300px; /* Adjust width as needed */
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

/* Search button */
.search-button {
  background-color: green; /* Green button color */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 10px; /* Add spacing between input and button */
  cursor: pointer;
}

/* Adjustments for mobile responsiveness */
@media (max-width: 768px) {
  .search-container {
    flex-direction: column;
  }
  .search-input {
    width: 100%;
    margin-bottom: 10px;
  }
  .search-button {
    margin-left: 0;
  }
}